StockClient/Connected Services/DataRetrieval/DataRetrievalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ThreeLetterISO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStockSoapIn">
    <wsdl:part name="parameters" element="tns:GetStock" />
  </wsdl:message>
  <wsdl:message name="GetStockSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockResponse" />
  </wsdl:message>
  <wsdl:portType name="DataRetrievalServiceSoap">
    <wsdl:operation name="GetStock">
      <wsdl:input message="tns:GetStockSoapIn" />
      <wsdl:output message="tns:GetStockSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataRetrievalServiceSoap" type="tns:DataRetrievalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStock">
      <soap:operation soapAction="http://tempuri.org/GetStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataRetrievalServiceSoap12" type="tns:DataRetrievalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStock">
      <soap12:operation soapAction="http://tempuri.org/GetStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataRetrievalService">
    <wsdl:port name="DataRetrievalServiceSoap" binding="tns:DataRetrievalServiceSoap">
      <soap:address location="http://localhost:1990/DataRetrievalService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataRetrievalServiceSoap12" binding="tns:DataRetrievalServiceSoap12">
      <soap12:address location="http://localhost:1990/DataRetrievalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>